ion-content{
  --ion-background-color: #e8f9f8;
}

ion-card{
  --ion-background-color: white;
}

ion-card-content{
  background-color: white;
}

.note{
  font-size: 90%;
}

.calificacion{
  --background-checked: #1dc4c1;
  --color-checked: white;
  padding-top: 4%;
  padding-bottom: 4%;
}

.buttonCal{
  width: 0%;
  --border-color:#d7d8da;
  --border-style: solid;
  --border-width: 1px;
  --border-radius:	5px;
}