<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/main-menu']">
          <ion-icon slot="icon-only" name="arrow-round-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-title">Menú Equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row class="content">
      <ion-col col-12>
        <ion-card (click)="setParam('ascensor')" routerLink="/inspection-list/tabs/equipo/ascensor">
          <img src="../../../assets/img/ascensor.gif" height="120em"/>
          <ion-card-header style="padding: 3%;">
            <ion-card-title>Ascensor</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="content">
      <ion-col col-12>
        <ion-card (click)="setParam('puerta')" routerLink="/inspection-list/tabs/equipo/puertas">
          <img src="../../../assets/img/puerta_electrica.png" height="120em"/>
          <ion-card-header style="padding: 3%;">           
            <ion-card-title>Puerta Eléctrica</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="content">
      <ion-col col-12>
        <ion-card (click)="setParam('escalera')" routerLink="/inspection-list/tabs/equipo/escaleras">
          <img src="../../../assets/img/escalera.png" height="120em"/>
          <ion-card-header style="padding: 3%;">           
            <ion-card-title>Escalera / Anden móvil</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>