.header{
    z-index: 0;
    height: 8em;
    position: relative;
    border: 0px solid;
    background-color: #1dc4c1;
}

.content-slides{
    border: 0px solid red;
    position: absolute;
    width: 100%;
    // margin-top: -20%;
    margin-top: -4.5em;
}

.card {
    z-index: 10;
    width: 22.7em;
    height: 78vh;
    margin-left: -5.8em;
    overflow-y:scroll;
}

.text_opc{
    font-size: 80%;
}

.float_button{
    margin-top: 25%;
    margin-right: 9%;
}

ion-content{
    --ion-background-color: #e8f9f8;
}

ion-card{
    --ion-background-color: white;
}

ion-card-header{
    border: 0px solid red; 
    position: fixed; 
    height: 7em; 
    width: 22.7em; 
    z-index: 1; 
    background-color: #3171e0; 
    border-radius: 4px 4px 0px 0px; 
    padding-top: 2.7em;
}

ion-card-content{
    background-color: white;
    border: 0px solid blue;
    z-index: 0;
    margin-top: 0%;
    padding: 0%;
}

.div-card-content-init{
    border: 0px solid green;
    padding-top: 7.5em; 
    padding-left: 0.5em; 
    padding-right: 0.5em; 
    padding-bottom: 1em;
}

.div-card-content{
    border: 0px solid blue;
    // padding-top: 7.5em; 
    padding-left: 0.5em; 
    padding-right: 0.5em; 
    padding-bottom: 1em;
}

ion-label {
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

ion-list{
    border: 1px solid #f5f6f9;
    border-radius: 5px;
    text-align: left;
}

p {
    padding-top: 4%;
    padding-bottom: 4%;
    // font-size: 100%;
    text-align: justify;
}

.note {
    font-size: 90%;
}

.buttonCal {
    width: 0%;
    --border-color: #d7d8da;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 5px;
    --color-checked: white;
    --color-activated: #1dc4c1;
    // --indicator-color-checked: #1dc4c1;
}

.calificacion0 {
    --background-checked: #339900;
}

.calificacion1 {
    --background-checked: #cc3300;
}

.calificacion2 {
    --background-checked: #ffcc00;
}
