<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/']"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-title">Menú Inspección</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1> {{ cabecera.campo1.titulo }} </h1>
    <input type="text" [placeholder]="cabecera.campo1.placeholder" [name]="cabecera.campo1.id">
    <h1> {{ cabecera.campo2.titulo }} </h1>
    <input type="text" [placeholder]="cabecera.campo2.placeholder" [name]="cabecera.campo2.id">
    <h1> {{ cabecera.campo3.titulo }} </h1>
    <input type="text" [placeholder]="cabecera.campo3.placeholder" [name]="cabecera.campo3.id">
    <span *ngFor="let item of cabina; let indice=index">
      <ion-card>
        <ion-card-title>{{ item.tipo }}</ion-card-title>
        <ion-card-subtitle>{{ item.items.item1.id }}</ion-card-subtitle>
      </ion-card>
    </span>

</ion-content>