<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/main-menu']">
                <ion-icon slot="icon-only" name="close"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button *ngIf="isData" (click)="uploadAllData()">
                <ion-icon name="cloud-upload"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-title">Inspecciones realizadas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Ascensores
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item-sliding *ngFor="let inspeccion of inspecciones; let i = index">
                    <ion-item>
                        <ion-label>
                            <h2>{{ inspeccion.datos_basicos.c_consecutivo }}</h2>
                            <h3>{{ inspeccion.datos_basicos.c_cliente }}</h3>
                            <p>{{ inspeccion.datos_basicos.c_equipo }}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options side="start">
                        <ion-item-option color="danger">
                            <ion-icon name="trash"></ion-icon>
                        </ion-item-option>
                        <!-- <ion-item-option color="blue">
                    <ion-icon name="cloud-upload"></ion-icon>
                </ion-item-option> -->
                    </ion-item-options>
                    <ion-item-options side="end">
                        <ion-item-option (click)="uploadByItem(i)" class="cloud">
                            <ion-icon name="cloud-upload"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-list>
            <ion-item *ngFor="let url of urls">
                <ion-label class="url">{{url}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>