<ion-menu side="start" menuId="first" content-id="main">
    <ion-header>
        <ion-toolbar translucent class="menu-toolbar">
            <ion-avatar class="ion-margin-start menu-avatar">
                <img src="../../../assets/img/avatar.svg">
            </ion-avatar>
            <ion-title class="menu-title">{{ nombres }}</ion-title>
            <ion-label class="menu-email">{{ email }}</ion-label>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list style="padding: 0%;">
            <ion-item (click)="closeMenu()" [routerLink]="['/']" class="ion-activatable" style="margin-left: -5%;">
                <div style="padding-left: 3%;"><span>Cerrar Sesión</span></div>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>
    <div class="header">
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
        <div style="color: white;">
            <ion-grid>
                <ion-row>
                    <ion-col size="5" style="padding-left: 15%;">

                    </ion-col>
                    <ion-col size="7">
                        <ion-label style="font-size: 130%;"><b>¡Hola {{ nombre }}!</b></ion-label><br>
                        <span class="text_opc">Selecciona una opción</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="content-slides">
        <ion-slides [options]="sliderConfig" style="border: 0px solid blue; ">
            <ion-slide style="border: 0px solid;">
                <div style="width: 100%;">
                    <ion-card class="card" style="border: 0px solid yellow;">
                        <img src="../../../assets/img/inspector.png" style="border: 0px solid red; height:35%;" />
                        <ion-card-header>
                            <ion-grid>
                                <ion-row>
                                    <ion-col style="text-align: left;" size="12">
                                        <ion-card-title>Realizar inspección</ion-card-title>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-grid style="padding-top: 0%;">
                                <ion-row>
                                    <ion-col style="text-align: left; padding-top: 0%;" size="12">
                                        <ion-label>Empieza a realizar inspecciones.</ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid style="border: 0px solid; color: green; margin-top: 50%;" *ngIf="!inspeccionesToLoad">
                                <ion-row>
                                    <ion-col style="text-align: left;" size="12">
                                        <ion-icon name="checkmark-circle-outline"></ion-icon><span style="margin-bottom: 100%; margin-left: 3%;">¡Genial!</span>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col style="text-align: left; font-size: 80%;" size="12">
                                        <span style="width: 100%;">Estas al día en la carga de inspecciones</span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid style="border: 0px solid; color: #ffcc00; margin-top: 50%;" *ngIf="inspeccionesToLoad">
                                <ion-row>
                                    <ion-col style="text-align: left;" size="12">
                                        <ion-icon name="alert"></ion-icon><span style="margin-bottom: 100%; margin-left: 3%;">¡Ojo!</span>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col style="text-align: left; font-size: 80%;" size="12">
                                        <span style="width: 100%;" *ngIf="inspeccionesToLoad">Tienes {{ countInspecciones }} inspecciones por cargar</span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>

                        <ion-fab routerLink="/equipment-menu" class="float_button" horizontal="end" vertical="center" slot="fixed">
                            <ion-fab-button color="primary">
                                <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>

                    </ion-card>
                </div>
            </ion-slide>

            <ion-slide class="slide" style="border: 0px solid;">
                <div style="width: 100%;">
                    <ion-card class="card" style="border: 0px solid yellow;" routerLink="/storage-inspections">
                        <div style="padding-top: 25%; background-color: white;">
                            <img src="../../../assets/img/upload.png" style="border: 0px solid red;" />
                        </div>
                        <ion-card-header style="padding-top: 0%;">
                            <ion-grid>
                                <ion-row>
                                    <ion-col style="text-align: center;" size="12">
                                        <ion-card-title>Cargar inspecciones</ion-card-title>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-grid style="padding-top: 0%;">
                                <ion-row>
                                    <ion-col style="text-align: center; padding-top: 0%;" size="12">
                                        <ion-label>Carga las inspecciones realizadas</ion-label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>